<h2>Welcome {{user}}</h2>

<a class="btn btn-default" href="/groups/new">Find a Group</a>

<br>
<br>

<div class="well">
    <h4>Current Groups</h4>
    <ul>
      {{#each groups}}
        {{#if active}}
            <li><a href="/groups/{{id}}/">{{name}} ({{user_ids.length}} members)</a></li>
        {{/if}}
      {{/each}}
    </ul>
</div>

<div class="well">
    <h4>Past Groups</h4>
    <ul>
      {{#each groups}}
        {{#unless active}}
            <li><a href="/groups/{{id}}/">{{name}} ({{user_ids.length}} members)</a></li>
        {{/unless}}
      {{/each}}
    </ul>
</div>

 <script>
  $('.navbar').hide();
  $('#profileBtn').click(function() {
    ga('send',  'event',  'button', 'click');
  });
</script>
