<h2>{{groups.name}}</h2>
<div class="well">
  <h4>Group Stats</h4>
  <ul>
    <li>{{groups.num_time}} of you like to work in the {{groups.time}}</li>
    <li>{{groups.num_personality}} of you identify as {{groups.personality}}</li>
    <li>{{groups.num_loc}} of you like to work in {{groups.loc}}</li>
    <li>{{groups.num_chill}} of you prefer the ambient noise level to be {{groups.chill}}</li>
  </ul>
</div>
<div class="well">
    <h4>Members</h4>
    <ul>
      {{#each members}}
            <li><a href="/users/{{id}}/">{{name}}</a></li>
      {{/each}}
    </ul>
</div>
<div class="well" style="text-align:center">
    <h4>Contact Members</h4><br>
    <a class="btn btn-success">Group Email</a><br><br>
    <a class="btn btn-success">Group Text</a><br><br>
    <a class="btn btn-success">Facebook Group</a>
</div>
<br><br>
